package ${mapper.packageName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
${mapper.imports}

/**
 * ${entity.desc}mapper
 * @author $auther
 * @date $date
 */
public interface ${mapper.className} extends BaseMapper<${entity.className}> {
}
