package ${service.packageName};

import com.baomidou.mybatisplus.extension.service.IService;
import ${entity.fullClassName};

/**
 * ${entity.desc}服务接口
 * @author $author
 * @date $date
 */
public interface ${service.className} extends IService<${entity.className}> {
}
